@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

:root{
    --green: rgb(48, 165, 2);
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0,0, .1);
}
body{
    margin: 0;
}

.btn{
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    background: var(--green);
    padding: .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius:.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.btn:hover{
    background: rgb(33, 2, 90);
}
/* header section */
header{
    margin: 0;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 5rem;
    background: #eee;
}

header #bars{
    font-size: 2rem;
    display: none;
}

header .logo{
    font-size:2.5rem;
    font-weight:bold;
    color: var(--green);
}

header .navbar a{
    text-decoration: none;
    margin-right: 2rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    color: black; 
}

header .navbar a.active,
header .navbar a:hover{
    background: var(--green);
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: .5rem;
}

header .icons i{
    padding-right: 2rem;
    font-size: 2rem;
}

header #bars:hover,
header .icons i:hover{
    color: var(--green);
}


/* home section */

.home{
    margin-right: 3rem;
}

.home .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.home .row .image{
    flex: 1 1 50%;
}

.home .row .image img{
    width: 100%;
    height: calc(100vh - 5rem);
}

.home .row .content{
    flex: 1 1 45%;
}

.home .row .content h4{
    color: rgb(78, 77, 77);
    font-weight: normal;
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.home .row .content h1{
    font-size: 3.5rem;
    margin: 0;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

/* extra-home */
.extra-home{
    margin-top: 2rem;
    margin-right: 6rem;
    margin-left: 6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.extra-home .content{
    flex: 1 1 45%;
    height: 20rem;
    padding: 2rem;
    align-content: center;
}

.extra-home .content:first-child{
    background: url("https://images.unsplash.com/photo-1479150928156-423a69d91fe0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTEyfHxmb29kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60") no-repeat;
    background-size: cover;
    background-position: center;
}

.extra-home .content:last-child{
    background: url("https://images.unsplash.com/photo-1483137140003-ae073b395549?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTkzfHxmb29kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60") no-repeat;
    background-size: cover;
    background-position: center;
}

.extra-home .content h3{
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: .5rem;
    color:rgb(33, 2, 90)
}

.extra-home .content p{
    font-size: 2rem;
    margin:0;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    color:rgb(33, 2, 90)
}

/* category section */










/* media queries */

@media (max-width: 990px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 768px){
    header #bars{
        display: inline-block;
    }

    header .navbar{
        display: none;
    }
}

@media (max-width: 500px){
    html{
        font-size: 50%;
    }

    .home .row{
        display: flex;
        flex-direction: column;
    }

    .home .row .image img{
        height: 80vh;
    }

    .home .row .content{
        text-align: center;
    }
    
}